<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description"
    content="Мы поможем вернуть потерянные средства! Лучшие специалисты и юристы международного уровня решат вопросы с черным брокером в пользу клиента!">
  <meta name="robots" content="noindex">
  <title>privacypolicy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/nicepage.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/privacypolicy.css') }}" media="screen">
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"
    defer=""></script>
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/nicepage.js') }}"
    defer=""></script>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "centrnedv"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="privacypolicy">
  <meta property="og:description"
    content="Мы поможем вернуть потерянные средства! Лучшие специалисты и юристы международного уровня решат вопросы с черным брокером в пользу клиента!">
  <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" data-lang="ru">
  <section class="u-align-left u-clearfix u-section-1" id="sec-59e3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
        <p>
          <br>
        </p>
        <div
          style="box-sizing: border-box; letter-spacing: 0px !important; transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-border-radius 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; margin: 0px;">
          <h2
            style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px; padding: 0px; color: rgb(64, 84, 178); font-size: 36px; font-weight: 700; font-family: Roboto, sans-serif; letter-spacing: 0px !important; text-align: center;">
            Политика конфиденциальности</h2>
        </div>
        <p>
          <br>
        </p>
        <p>
          <br>
        </p>
        <div
          style="box-sizing: border-box; letter-spacing: 0px !important; transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-border-radius 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;">
          <div style="box-sizing: border-box; letter-spacing: 0px !important;">
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ИНФОРМАЦИЯ, КОТОРУЮ МЫ СОБИРАЕМ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">Вы
              можете пользоваться нашим сайтом, не оставляя о себе никакой информации. Однако, чтобы предоставить Вам
              определенные услуги через Интернет или открыть доступ в определенные разделы сайта, мы просим Вас
              предоставить небольшое количество личной информации. Личная информация, предоставляемая Вами через
              веб-сайт, ограничена типом запрашиваемой вами услуги. В зависимости от типа мы можем попросить Вас
              предоставить следующую информацию:</p>
            <ul
              style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; list-style: disc; letter-spacing: 0px !important;">
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">ФИО;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">адрес электронной почты;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">почтовый адрес;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">имя пользователя;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">номер телефона;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">наименование компании (если Вы
                покупаете от ее лица или в связи с предоставляемым адресом доставки);</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">демографическая информация;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">другая информация, которую третьи лица
                (например, социальные сети) вправе передавать нам с Вашего разрешения.</li>
            </ul>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">КАК МЫ ИСПОЛЬЗУЕМ ЭТУ ИНФОРМАЦИЮ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">Мы
              используем собранную информацию в следующих целях:</p>
            <ul
              style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; list-style: disc; letter-spacing: 0px !important;">
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">выполнение Ваших запросов и
                предоставление ответов на вопросы;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">предоставление запрошенных Вами услуг
                или коммерческих предложений;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">предоставление информации об услугах,
                продукции и специальных предложениях компании;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">индивидуализация Вашего присутствия на
                сайте;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">Ваша регистрация для получения
                электронных писем или другой информации и материалов (с Вашего согласия);</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">Ваша регистрация на специальное
                предложение или на получение рекламных материалов о продукции (с Вашего согласия);</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">предоставление ответа, если Вы
                связались с одним из наших представителей по работе с клиентами;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">оценка доступа к нашей продукции,
                услугам или сайтам и их использования;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">помощь в разработки новой продукции и
                услуг;</li>
              <li style="box-sizing: border-box; letter-spacing: 0px !important;">приведения в действие наших Условий
                использования сайта, Кодекса поведения или других законных прав или обычаев.</li>
            </ul>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">Мы
              не будем рассылать Вам маркетинговые предложения, если Вы не выразите на это прямого согласия. И если Вы
              решите подписаться на данные письма, то впоследствии у Вас всегда будет право «отписаться» от рассылки
              маркетинговых сообщени.</p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">КАК МЫ ИСПОЛЬЗУЕМ КУКИ-ФАЙЛЫ, ВЕБ-МАЯКИ И ПОДОБНЫЕ ТЕХНОЛОГИИ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              Подобно большинству сайтов, мы собираем информацию в сети с помощью куки-файлов и других аналитических
              веб-инструментов. Куки-файлы – частицы информации, хранящиеся непосредственно на используемом Вами
              компьютере. Они не идентифицируют личность пользователя компьютера и не влияют никаким образом на
              компьютер, а, скорее, сообщают нам информацию о том, сколько пользователей посетило наш сайт, на какие
              страницы они заходили, были ли замечены проблемы или задержки в загрузке страниц. Собрав эту информацию,
              мы узнаем, как лучше подготовить наш сайт для посетителей и как обеспечить его надлежащее
              функционирование.</p>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              Некоторые куки-файлы необходимы для обеспечения перемещения по сайту и использования его функций,
              например, доступа к защищенным зонам. Другие куки-файлы собирают информацию о том, как посетители
              пользуются сайтом (например, на какие страницы пользователи заходят чаще всего, получают ли они ошибки в
              результате захода на страницы). Вместе с информацией, собранной при регистрации на сайте, куки-файлы
              позволяют нам поприветствовать вас при возвращении на сайт или обеспечить более полный персонализированный
              подход с помощью других функций.</p>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              Большинство браузеров принимают куки-файлы автоматически, но их можно настроить так, чтобы они не
              принимали куки-файлы или спрашивали пользователя разрешения каждый раз при отправлении куки-файлов. Если
              вы хотите отключить куки-файлы, обратитесь к справочной службе вашего браузера, чтобы узнать, как это
              сделать. Пожалуйста, имейте в виду, что при отключении куки-файлов вам могут быть доступны не все
              индивидуализированные функции нашего сайта, и сайт может работать ненадлежащим образом.</p>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              «Веб-маяки» и подобные технологии – это крошечные или прозрачные изображения, которые, например, позволяют
              нам и третьим лицам посчитать число пользователей, которые посетили определенную страницу сайта, или
              получить доступ к определенным куки-файлам. Когда Вы заходите на страницу с веб-маяком, Вы устанавливаете
              связь с веб-сервером, собирающим определенную информацию о Вашем компьютере или другом устройстве. Эта
              информация может включать Ваш IP-адрес, тип браузера, тип операционной системы, а также идентификаторы,
              хранящиеся в куки-файлах. Мы можем использовать веб-маяки на наших сайтах и узнавать пользоватетелей с
              помощью уникальных идентификаторов, хранящихся в куки-файлах, которые мы отправляли на их компьютеры или
              другие устройства. Возможность доступа к этим идентификаторам позволяет нам обеспечивать
              персонализированное взаимодействие с нашим сайтом. Мы также можем включать маяки в рекламу или электронные
              письма, чтобы узнать, как пользователь отреагировал на них.</p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ОХРАНА И ХРАНЕНИЕ ИНФОРМАЦИИ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              Компания приняла соответствующие организационные меры для охраны и обеспечения безопасности информации,
              собираемой нами онлайн, от потери, неправомерного и ненадлежащего использования, изменения или кражи. Сюда
              также относятся соответствующие меры безопасности для клиентов, совершающих покупки через наши сайты, а
              также записавшихся в наши программы. Однако имейте в виду, что мы не можем гарантировать абсолютную
              безопасность всей информации, которую Вы предоставляете онлайн; Вы предоставляете ее на свой страх и риск.
            </p>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">В
              соответствии с российскими законами компания также предпринимает шаги, чтобы Ваша информация хранилась в
              России.</p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ССЫЛКИ НА ДРУГИЕ ВЕБ-САЙТЫ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">Наш
              веб-сайт может содержать ссылки на сайты аффинированных лиц, а также на сайты, которыми владеют и
              управляют третьи лица. Данные сайты могут иметь свои собственные политики конфиденциальности и не
              подчиняться нашей Политике конфиденциальности. Мы не несем ответственность за политики конфиденциальности
              и за содержание сайтов, которыми владеют и управляют третьи лица. Другие сайты могут собирать и
              распоряжаться собранной информацией по-другому, поэтому мы рекомендуем Вам внимательно читать и оценивать
              политику конфиденциальности каждого посещаемого Вами сайта.</p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ПРАВО НА ДОСТУП, ИСПРАВЛЕНИЕ И ВОЗРАЖЕНИЕ/СОГЛАСИЕ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">Мы
              предпринимаем необходимые шаги для обеспечения актуальности и точности имеющейся у нас информации. В связи
              с этим, мы просим Вас связаться с нами для обновления Вашей информации в случае ее изменения, например,
              изменения адреса Вашей электронной почты, чтобы Вы могли продолжать получать от нас требуемую информацию.
            </p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ДОСТУП К ВАШЕЙ ИНФОРМАЦИИ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              Согласно российским законам, Вы вправе сделать запрос о том, какую информацию мы собрали о Вас, и
              исправить неверные данные. Если Вы хотите запросить доступ к Вашей информации или удалить ее, пожалуйста,
              свяжитесь с отделом по работе с клиентами: по адресу support@re-funds.net &nbsp;Вы также можете
              «отписаться» (отозвать свое согласие на участия в одной из наших программ или на получение маркетинговых
              рассылок), отправив запрос по адресу support@re-funds.net&nbsp;</p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ИЗМЕНЕНИЯ В ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">Мы
              вправе изменить или заменить данную Политику конфиденциальности по своему усмотрению в любое время.
              Пожалуйста, периодически перепроверяйте ее, чтобы удостовериться, что Вы в курсе любых обновлений или
              изменений в Политике конфиденциальности. Если не установлено иное, текущая Политика конфиденциальности
              применяется ко всей информации, собранной посредством нашего сайта, который содержит авторизованную ссылку
              на данную Политику конфиденциальности.</p>
            <h5
              style="box-sizing: border-box; clear: both; line-height: 1.2; margin: 0px 0px 0.75em; padding: 1.5em 0px 0px; color: rgb(118, 118, 118); font-size: 0.8125rem; font-weight: 700; text-transform: uppercase; letter-spacing: 0px !important; text-align: center;">
              <span style="font-size: 1rem;">ВАШЕ СОГЛАСИЕ НА УСЛОВИЯ ДАННОЙ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</span>
            </h5>
            <p style="box-sizing: border-box; margin: 0px 0px 1.5em; padding: 0px; letter-spacing: 0px !important;">
              Используя данный веб-сайт, Вы выражаете свое согласие на все условия данной Политики конфиденциальности и
              правил использования данного сайта. Если Вы не согласны с каким-либо условием данной Политики
              конфиденциальности или Правил использования сайта, пожалуйста, не пользуйтесь этим сайтом и не передавайте
              через него никакую информацию.support@re-funds.net</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer
    class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-clearfix u-footer u-grey-80 u-footer"
    id="sec-7725">
    <div
      class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <p class="u-text u-text-1"><span class="u-icon u-text-white u-icon-1"><svg class="u-svg-content"
            viewBox="0 0 16 16" style="width: 1em; height: 1em;">
            <path fill="currentColor"
              d="M8 1.5c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5-6.5-2.9-6.5-6.5 2.9-6.5 6.5-6.5zM8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8v0z">
            </path>
            <path fill="currentColor"
              d="M9.9 10.3c-0.5 0.4-1.2 0.7-1.9 0.7-1.7 0-3-1.3-3-3s1.3-3 3-3c0.8 0 1.6 0.3 2.1 0.9l1.1-1.1c-0.8-0.8-2-1.3-3.2-1.3-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5c1.1 0 2-0.4 2.8-1l-0.9-1.2z">
            </path>
          </svg><img></span>&nbsp;ProfitGuard © 2011-2023. Все права защищены.
      </p>
    </div>
  </footer><span
    style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px"
    class="u-back-to-top u-icon u-icon-circle u-opacity u-opacity-85 u-palette-1-base u-spacing-15" data-href="#">
    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use>
    </svg>
    <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
      xmlns="http://www.w3.org/2000/svg" id="svg-1d98">
      <path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path>
    </svg>
  </span>

</body>

</html>